h1{
  text-align: center;
  vertical-align: text-top;
}

body{
  background-color: #5c7383;
}
.logo{
  padding-left: 0px;
  padding-top: 40px;
  padding-right: 120px;
  vertical-align: middle;
  width:170px;
}
.navbar{
  width:90px;
  padding-left: 50px;
}
.menu{
  font-size: 11pt;
  font color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  padding-bottom: 60px;
}
.intro{
  font-size: 12pt;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-top: 80px;
  letter-spacing: 2px;
  height:220px;
  opacity: 70%;
}
.hiabout{
  font-size: 40pt;
  font-family: 'Raleway', sans-serif;
  color:#f0d8cf;
  padding-left: 330px;
  letter-spacing: 5px
}
.about{
  font-size: 11pt;
  background-color:rgb(92, 115, 131, 0.6);
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
  padding-top: 20px;
  font-family: 'Quicksand', sans-serif;
  color:white;
  height: 450px;
  width:800px;
  margin-left: auto;
  margin-right: auto;
}
.aboutimg{
    width:330px;
    padding-top: 50px;
    float: left;
    padding-right: 20px;
    padding-bottom: 60px;
}
.content{
  background-color:rgb(92, 115, 131, 0.6);
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

}

.image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 50px;
}

.label{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 0px;
}

.label2{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 60px;
}

.medium{
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 2px;
}

.subtitles{
  font-family: 'Raleway', sans-serif;
  font-size: 23pt;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0px;
}
.subsubtitles{
  font-family: 'Raleway', sans-serif;
  font-size: 18pt;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 0px;
}

.blurb{
  font-size: 11pt;
  width:800px;
  font-family: 'Quicksand', sans-serif;
  color:white;
  text-align: center;
  padding-left: 100px;
}

.download{
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  color:#f0d8cf;
}

.contact{
  font-size: 11pt;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
  padding-left: 100px;
  padding-bottom: 30px;
  padding-top: 30px;
  color:white;
}
.contact1{
  font-size: 15pt;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 9px;
  color: #5c7383;
}

a:link{
  text-decoration: none;
  color: #5c7383;
}

a:visited{
  text-decoration: none;
  color: #5c7383;
}

a:active{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:white;
  text-decoration: none;
}


#video{
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media(min-aspect-ratio:16/9){
  #video{
    width: 100%;
    height: auto;
  }
}

@media(max-aspect-ratio:16/9){
  #video{
    width: auto;
    height: 100%;
  }
}
